.new-product{
	background: black;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.new-product__list{
	width: 70%;
	margin-bottom: 20px;
}

.new-product__list{
	flex-wrap: wrap;
	row-gap: 20px;
}