.season{
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
    flex-direction: row;
    float: left;
    background: #000000;

}

.season__info{
	height: 100%;
	width: 55%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.list-product{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: row;
    column-gap: 15px;
}

.product{
	color: white;
}

.product-discript{
	display: block;
}

.product__image{
	background: #191B1C;
	width: 15vw;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15%;
}

.image{
	width: 100%;
	height: 50%;
}

.season__collect{
	height: 100%;
	width: 45%;
	background: url("../images/Collection.png");
	background-size: cover;
	background-repeat: no-repeat;

	display: flex;
	justify-content: flex-end;
	align-items: center;
    flex-direction: column;
}

.title{
	margin-top: 5%;
	padding-bottom: 2%;
	color: white;
	border-bottom: 2px solid white;
	width:40%;
    text-align: center;
    font-size: 2em;
}

.btn_catalog{
	background: transparent;
	color: white;
	font-size: 1.5em;
	border: 3px solid white;
	margin-bottom: 10%;
	padding: 10px;
}

.btn_catalog:hover{
	cursor: pointer;
	border: 3px solid gray;
}

@media screen and (max-width:480px){

	.season{
		float: left;
		display: block;
	}

	.season__info{
		height: 50%;
		width: 100%;
	}

	.season__collect{
		height: 50%;
		width: 100%;
	}

	.list-product{
		margin-top: 1%;
	}

	.product__image{
		width: 20vw;
		height: 15vh;
	}

	.title{;
		width: 50%;
		font-size: 1.5em;
	}

	.btn_catalog{
		font-size: 1em;
		border: 3px solid white;
		margin-bottom: 10%;
		padding: 10px;
	}

	.product-discript{
		font-size: 0.5em;
	}
}

@media screen and (min-width: 501px) and (max-width: 900px){

	.season{
		float: left;
		display: block;
		height: auto;
	}

	.season__info{
		height: auto;
		width: 100%;
		margin-bottom: 5%;
	}

	.season__collect{
		height: 50vh;
		width: 100%;
		justify-content: center;
	}

	.list-product{
		margin-top: 1%;

	}

	.product__image{
		width: 20vw;
		height: 50vh;
	}

	.title{;
		width: 50%;
		font-size: 1.5em;
	}

	.btn_catalog{
		font-size: 1em;
		border: 3px solid white;
		margin-bottom: 10%;
		padding: 10px;
	}

	.product-discript{
		font-size: 0.5em;
	}
}

@media screen and (min-width: 901px) and (max-width: 1100px){

	.season{
		float: left;
		display: block;
		height: auto;
	}

	.season__info{
		height: auto;
		width: 100%;
		margin-bottom: 5%;
	}

	.season__collect{
		height: 50vh;
		width: 100%;
		justify-content: center;
	}

	.list-product{
		margin-top: 1%;

	}

	.product__image{
		width: 20vw;
		height: 50vh;
	}

	.title{;
		width: 50%;
		font-size: 3em;
	}

	.btn_catalog{
		font-size: 1.4em;
		border: 3px solid white;
		margin-bottom: 10%;
		padding: 10px;
	}

	.product-discript{
		font-size: 0.5em;
	}
}
